body{
    color: black;
    margin: 2xp;
    padding: 2xp;
    background-color: rgb(154, 211, 168);
    text-align: left
}
.header {
    padding: 99px;
    text-align: center;
    background: rgb(1, 70, 1);
    color: darkslategray;
    font-size: 30px;
}

.VEGANRECEPTY {
    color: rgb(13, 65, 22);
}

.flex {
    display: flex;
}


    

.VEGANRECEPTY {
    color: rgb(13, 65, 22);
}

.italicGreen{
color: rgb(0, 94, 81);
font-style: italic;

}