*{
    color: black;
    margin: 2xp;
    padding: 2xp;
    background-color: rgb(163, 216, 175);
    text-align: left
}
.header {
    padding: 99px;
    text-align: center;
    background: darkgreen;
    color: darkslategray;
    font-size: 30px;
}

.VEGANRECEPTY {
    color: rgb(33, 99, 44);
}

.flex {
    display: flex;
}


    
*{
    color: black;
    margin: 2xp;
    padding: 2xp;
    background-color: whitesmoke;
    text-align: left
}

.VEGANRECEPTY {
    color: rgb(33, 99, 44);
}

.italicGreen{
color: green;
font-style: italic;

}

.container{
    display: flex;

    flex-direction: row;
    justify-content: center;
}